.secundary {
  border: 5px solid #5c315c;
}
.increaseFont {
  font-size: 45px;
  cursor: pointer;
}
.numbersSelect {
  opacity: 0.3;
}
.linkGl {
  background-color: #6dac43;
}
.linkFb {
  background-color: #d6ce56;
}
.maginSup {
  display: block;
  margin-top: 45px;
}
.highlighted {
  border-bottom: 2px solid #5c315c;
}
